--only-binary=:all:
torch==2.8.0
torchvision==0.23.0
torchaudio==2.8.0
numpy==1.26.4
scipy==1.12.0
pandas==2.2.2
scikit-learn==1.5.1
opencv-python-headless==4.10.0.84
mediapipe==0.10.14
streamlit==1.38.0
firebase-admin==6.5.0
fpdf==1.7.2
protobuf==4.25.3
streamlit-webrtc==0.47.1
av==10.0.0
